.login_button{
    margin-left: 2px;
    margin-top: 20px;
    width: 250px;
    text-align: center;
}

.login_square{
    margin-left: 500px;
    margin-top: 300px;
    margin-right: 600px;
    border: #0f0f0f 2px solid;
    padding: 40px 250px 40px 100px;
}

body{
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*font-family: Algerian;*/
    color: #a94442;
    background: url("timg.jpg");
}
